.container{
    h1{
        font-size: 25px;
        color: rgb(177, 44, 46);
    }
    P{
        font-size: 25px;
        color: #ec7948;
    }
    .box{
        h1{
            font-size: 25px;
            color: #e45456;
        }
    }

    p{
        font-size: 25px;
        color: #3C7949;
    }

}