@import 'vars';
@import 'mixins';

@include main;

section {
	width: 100%;
	padding: 3em 15%;
	@include clearfix;
}

*{
	margin: 1em auto;
}

#naslov{
	color: red;

}

.blue{
	color: green;
}

#zuta{
	color: yellow;
}

#prvi{
	color: blue;
}
#drugi{
	color: purple;
}