.prvi{
    margin: 3em;
    min-height: 400px;
    min-width: 400px;
    background-color: lightblue;
}

table{
    border: 2px solid black;
    td{
        border: 1px solid black;
    }
}

.tablePart{
    margin-left: 500px;
    padding-bottom: 100px;
}