@import 'vars';
@import 'mixins';

@include main;

body {
	width: 100%;
	@include clearfix;

	font-family: 'Montserrat', sans-serif;

	header{
		position: fixed; 
		background-color: black;  // ostaje fixirano na zadatku
		height: 60px;
		width: 100%;

		
	}

	.logo{
		float: left;
		padding: 12px 0;

		h1{
			a{
				text-transform: uppercase;
				color: #fff;
				font: "OpenSans", sans-serif;
				font-weight: bold;
				text-decoration: none;
				font-size: 30px;
			}
		}
	}

	.navigation{
		float: right;
		li{
			float: left;
		}
	}


}


.center{
			width: 1100px;
			margin: auto;
		}

// jane &john se rotira 360stepeni contact se povecava 
// weding details  box shadow

// div - domaci - kockice 

// @keyframes example animation - name animation -duration
// % can be used to modify the  duration of animations 

//animation duration animation delay animation name // negative value skips certain parts of the animation.

//animation-iteration count 3 - aniamcija ce raditi 3 puta - kljucna rec infinite. 
// reverse - animacija ide od pozadi.

//animation-timing-function // linear ease ease-in ease-out ease-in-out


//transformacije - // rotate  transform: rotate(90deg); transform: skewY(20deg) transform scaleY(1.5) ili scaleX povecavanej po x y osi