.style{
   font-size: 30px;
   font-style: italic;
}

.wrapper {
    background-color: red;
}

h2{
    color: #787878;
    @extend .style
    //@extend .container;
}

.container {
    @extend h2;
    @extend .style;
    @extend .wrapper;
}