@import 'vars';
@import 'mixins';

@include main;

section {
	width: 100%;
	padding: 3em 15%;
	@include clearfix;
}

*{
	margin: 1em auto;
}

#naslov{
	color: red;

}

.blue{
	color: green;
}

#zuta{
	color: yellow;
	text-align: left;
	text-decoration: underline;
	
}

#right{
	text-align: right;
	text-decoration: line-through;
}

#prvi{
	color: blue;
	letter-spacing: 100px;
	
}
#drugi{
	color: purple;
}

#ident{
	text-indent: 4em;
	text-align: justify;
}

#justify{
	text-align: justify;
	text-transform: uppercase;
}