// color

$pulse1-background-color-1: $color1; 
$pulse1-background-color-2: $color2;
$pulse1-background-color-3: $color1;

$pulse2-background-color-1: $color3; 
$pulse2-background-color-2: $color10;
$pulse2-background-color-3: color3;

$header-background-color: $color2;
$header-i-color: $color4;

$header-h1-color: $color4;
$header-head2-color: $color4;

$footer-background-color: $color2;

$footer-footMedia-color: $color5;
$footer-footMedia-a-color: $color5;

$a-link: $color6;
$a-visited: $color6;

$navigation-background-color: $color2;
$whatPage-background-color: $color2;


$mainContent: $color2;
$mainContent-form-color: $color7;

$mainContent-form-inputs-background-color: $color2;

$mainContent-input-focus-color: $color8;
$mainContent-textarea-focus-color: $color8;

$mainContent-form-buttons: $color9;



