$color1: rgba(0, 0, 0, 0.2); 
$color2: rgba(255, 127, 80, 0.3);
$color3: darkred;
$color4: saddlebrown;
$color5: deeppink;
$color6: brown;
$color7: firebrick;
$color8: white;
$color9: orange;
$color10: red;


$font-size-1: 34px;
$font-size-2: 24px;
$main-line-height: 30px;
