@import 'vars';
@import 'mixins';

@include main;

section {
	width: 100%;
	padding: 3em 15%;
	@include clearfix;
}

.div1{
	margin-top: 2em;
	margin-left: 10em;
}

.div2{
	margin-top: 3em;
	margin-left: 10em;
	margin-bottom: 5em;
}

.prvaboja{
	background-color: darkslategrey;
}

.orange{
	background-color: orange;
}

.zadnjaboja{
	background-color: darkgoldenrod;
}

.total{
	background-color: green;
}

.centered{
	text-align: center;
}
