@import 'vars';
@import 'mixins';

@include main;

section {
	width: 100%;
	padding: 3em 15%;
	@include clearfix;
}


#test{    // radi ok 
	color: red;
	font-size: 2em;
}

#first-div{
	margin: 2em auto;
	color: turquoise;
	text-align: center;

}

img[alt=spacer]{   // ciljanje elementa preko atributa 
	padding: 0px;
	margin: 1em;
}