$main_font: 		'Roboto', sans-serif;

$main_text_color: 	#797979;
$main_red: 		#f75311;
$main_dark:			#374249;
$grey_light:		#cfd1d3;
$section_grey:		#f3f7f9;
$white: #FFF;

$red_dark: red;
$grey_background: 374249;
$head-Foot: darkgrey;
$orange: orange;


$head-Foot:  #374249;
$titles: #374249;
$zaHover: #cfd1d3;
$pozSec: #f3f7f9;
$orange:#f75311;
