@import 'vars';
@import 'mixins';

@include main;

section {
	width: 100%;
	@include clearfix;
}

input{
	&:link{
		 color: #FF0000;
	}
	&:visited{
		 color: #00FF00;
	}
	&:hover{
		 color: #FF00FF;
	}
	&:active{
		color: #0000FF;
	}
	&:focus{
		background-color: yellow;
	}
}





table{
	//border: 1px solid black;
	margin-left: 1em;
}

.forma{
	min-height: 400px;
	background-color: lightgreen;
	width: 40%;
	margin: 1em auto;
	text-align: left;
}

.center{
	margin: 1em 15em;
	width: 100px;
	border-radius: 10px;
	background-color: green;
	color: white
}

h2{
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

table,tr,td{
	width: 90%;
	margin: 0 auto;
	border: 1px solid black;
}


